@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	margin: 0;
	background-color: #252827;
	color: white;
}

h1{
	margin-top: 0;
	margin-bottom: .5em;
	padding: 0;
  	font-size: 3em;
  	font-weight: bold;
  	color: white;

}

h5{
	margin: 0;
	padding: 0;
  	font-size: 2.5em;
  	text-decoration: underline;
  	color: white;
}

h6{
	margin: 0;
	padding: 0;
  	font-size: 2em;
  	color: white;
}

a { text-decoration: underline; color: #1959C9; }
a:visited { text-decoration: underline; }
a:hover { text-decoration: underline; }
a:focus { text-decoration: underline; }
a:hover, a:active { text-decoration: underline; }
/* ************************************************************************************** */
#cover {
	height: 300px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/Retreat.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: center;
}

#cover-text {
	position: absolute;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
	font-family: "Roboto";
	font-size: 4em;
	color: white;
	white-space: nowrap;
}

#cover-subtext {
	position: absolute;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	font-family: "Roboto";
	font-size: .75em;
	color: white;
	white-space: nowrap;
}
/* ************************************************************************************** */
/* The sidebar menu */
.sidebar {
	position: fixed;
	z-index: 1; 
	padding-top: 60px; 
	top: 0;
	left: 0;
	height: 100%; 
	width: 0; 
	background-color: #111; 
	overflow-x: hidden; 
	transition: 0.5s; 
}

/* The sidebar logo */
.sidebar img{
	height: 13em;
	width: 70%;
	margin-right: 17%;
	margin-left: 15%;
	margin-bottom: 2em;
	display: block;
	position: center;
	filter: invert(100%);
}

/* The sidebar links */
.sidebar a {
	display: block;
	margin-bottom: .5em;
	text-align: center;
	text-decoration: none;
	font-size: 3em;
	color: #818181;
	transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	position: absolute;
	margin-left: 50px;
	top: 0;
	right: 25px;
	font-size: 4em;
}

/* Dropdown button in sidebar*/
.sidebar .dropbtn {
	display: block;
	margin: inherit;
	margin-bottom: .5em;
	padding: 0;
	width: 0px;
	height: auto;
	object-position: center;
	background-color: inherit;
	border: none;
	cursor: pointer;
	font-family: inherit;
	text-decoration: none;
	text-align: center;
	font-size: 3em;
	color: #818181;
	transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidebar .dropbtn:hover{
	color: #f1f1f1;
}

.sidebar span{
	display: inline-block;
	color: #818181;
	transition: 0.5s;
	-webkit-transform: scale(1,-1) translateY(-.18em);
}

/* Activity Links within dropdown */
.dropdown-activities {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: .6em;
	color: #818181;
	overflow-x: hidden; 
	height: 0;
	transition: .5s;
}

.dropdown-activities .dropdown-activity {
	margin: 0;
	padding: 0;
	height: 0;
	transition: .5s;
}

/* Workshop Flow links within dropdown */
.dropdown-flows {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: .6em;
	color: #818181;
	overflow-x: hidden; 
	height: 0;
	transition: .5s;
}

.dropdown-flows .dropdown-flow {
	margin: 0;
	padding: 0;
	height: 0;
	transition: .75s;
}

/* The button used to open the sidebar */
.openbtn {
	position: fixed;
	cursor: pointer;
	padding: 0px 10px;
	background-color: #252827;
	border: none;
	font-size: 3em;
	color: white;	
}

.openbtn:hover {
	background-color: #444;
}
/* ************************************************************************************** */
.main {
	padding: 3em;
}

/* ************************************************************************************** */
#email {
	margin-bottom: 3em;
}

#email .new {
	color: #FC0D1B;
}

#email .needLead {
	color: #1072BD;
}

#email .cancel {
	color: #6F359E;
}

#email .old{
	color: lightgrey;
}
/* ************************************************************************************** */
#links {
	margin: 0;
	padding: 0;
	float: right;
	text-decoration: none; 
	color: #1959C9;
	text-align: right;
	font-size: 2em;
}

#links:visited {
	text-decoration: none;
	color: #1959C9;
}

/* ************************************************************************************** */
#dates {

}

/* ************************************************************************************** */
.forms {
	color: #C4C4C4;
}

.forms div {
	line-height: 3em;
}

#footer {
	bottom: 0;
	margin: 10% auto 0 auto;
	width: 100%;
	text-align: center;
	color: darkgray;
}

#footer a{
	text-decoration: underline;
	color: #1959C9;
}


